@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Staatliches&display=swap");
:root {
  --slider-transition-color: all 0.3s ease;
  --universal-transition-color: all 0.3s ease;
  --slider-border-radius: 50%;
  --slider-container-border: 9px;
}

[data-theme=light] {
  --background-main: #fff;
  --background-main-skills: #e7e7e7;
  --background-skills-card: #dddddd;
  --dark-font-color: #000000;
  --dark-font-color-hover: #6519f2;
  --title-decals-color: #5b1cd1;
  --font-color-main: #000000;
  --path-rectangle: url("../../assets/icons/rectanglePurple.png");
  --background-path-image: url("../../assets/imgs/backgroundPurple.jpg");
  --filter-rectangle: brightness(90%);
  --card-hover-1: rgba(127, 75, 223, 0.8431372549);
  --card-hover-2: rgba(119, 66, 204, 0.568627451);
  --card-hover-3: rgba(144, 109, 224, 0.3019607843);
  --slider-border: #080808;
  --slider-border-hover: #6519f2;
  --slider-background-btns: #f1f1f1;
  --slider-background-hover: #ffffff;
  --slider-background-backend: url("../../assets/imgs/sliderImgs/backend2.png");
  --fill-color: #000;
  --fill-color-hover: #6f2ceb;
  --border-resume-cv: #000;
  --background-resume-cv: #ececec;
  --background-resume-cv-hover: #f3f3f3;
}

[data-theme=dark] {
  --background-main: #121212;
  --background-main-skills: #101010;
  --background-skills-card: #2b2b2b;
  --dark-font-color: #fff;
  --dark-font-color-hover: #f23219;
  --title-decals-color: #d1321c;
  --font-color-main: #ffffff;
  --path-rectangle: url("../../assets/icons/rectangle.png");
  --background-path-image: url("../../assets/imgs/backgroundRed.jpg");
  --filter-rectangle: brightness(90%);
  --card-hover-1: rgba(53, 3, 1, 0.8431372549);
  --card-hover-2: rgba(32, 2, 1, 0.568627451);
  --card-hover-3: rgba(34, 2, 1, 0.3019607843);
  --slider-border: #fff;
  --slider-border-hover: #f23219;
  --slider-background-btns: #101010;
  --slider-background-hover: #1d1d1d;
  --slider-background-backend: url("../../assets/imgs/sliderImgs/backend1.png");
  --fill-color: #fff;
  --fill-color-hover: #cf3333;
  --border-resume-cv: #fff;
  --background-resume-cv: #181818;
  --background-resume-cv-hover: #252525;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  height: 150vh;
}

a {
  color: var(--font-color-main);
  text-decoration: none;
}

.theme-icon {
  color: var(--fill-color);
  transition: var(--universal-transition-color);
}
.theme-icon:hover {
  color: var(--fill-color-hover);
}

.header-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.nav {
  position: fixed;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.082);
  background-position: 100deg;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 12px;
  min-width: 13%;
  padding: 6px;
  margin: 4px 6px 4px 6px;
}

.nav-list {
  display: flex;
  gap: 10px;
  list-style: none;
  font-size: 0.9em;
}
.nav-list a {
  color: var(--dark-font-color);
  transition: all 0.2s ease-in;
}
.nav-list a:hover {
  color: var(--dark-font-color-hover);
}

.nav-link button {
  cursor: pointer;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.0549019608);
  outline: none;
  border: none;
  transition: background-color 0.2s padding 0.3s ease-in;
}

.resume-section {
  position: relative;
  display: flex;
  height: 100dvh;
  background-color: var(--background-main);
  overflow: hidden;
}

.background-resume {
  position: absolute;
  left: 0;
  top: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  filter: var(--filter-rectangle);
  background-image: var(--path-rectangle);
  background-position: center top;
  background-size: 155%;
  background-repeat: no-repeat;
  z-index: 1;
}

.resume-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 6vw 0 8vw;
  z-index: 999;
}
.resume-details p {
  text-align: justify;
  font-size: 1.1rem;
  color: var(--font-color-main);
}

.title {
  font-size: 2.8rem;
  font-family: "Staatliches", sans-serif;
  color: var(--font-color-main);
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
}
.title span {
  color: var(--title-decals-color);
}

.resume-techs {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding-top: 5px;
  gap: 10px;
}
.resume-techs i {
  cursor: pointer;
}

.resume-cv-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: var(--background-resume-cv);
  border: solid 1px var(--border-resume-cv);
  border-radius: var(--slider-container-border);
  color: var(--dark-font-color);
  padding: 7px 10px 7px 10px;
  transition: var(--universal-transition-color);
}
.resume-cv-btn .download-btn {
  font-size: 1em;
  color: var(--dark-font-color);
  transition: var(--universal-transition-color);
}
.resume-cv-btn:hover {
  background-color: var(--background-resume-cv-hover);
  border-color: var(--dark-font-color-hover);
}
.resume-cv-btn:hover .download-btn {
  color: var(--dark-font-color-hover);
}
.resume-cv-btn:hover i {
  color: var(--dark-font-color-hover);
}

.my-image {
  position: relative;
  width: 100%;
  z-index: 999;
}
.my-image img {
  position: absolute;
  filter: brightness(100%) grayscale(100%);
  right: 0px;
  bottom: 0px;
  width: 95%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}

.skills-section {
  display: grid;
  flex-wrap: nowrap;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 10dvh 7dvh;
  gap: 3px;
  height: 100dvh;
  background-color: var(--background-main-skills);
  z-index: 9999;
}

.skills-grid {
  position: relative;
  display: flex;
  background-color: var(--background-skills-car);
  flex-direction: column;
  justify-content: center;
  border-radius: 6px;
}

.skills-data {
  display: flex;
  justify-content: center;
}
.skills-data h3 {
  color: var(--font-color-main);
}

.skills-techs-imgs {
  display: flex;
  flex-direction: column;
  padding: 10dvh;
  opacity: 1;
}
.skills-techs-imgs:hover {
  opacity: 0;
}

.skills-overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #0a0100;
  background: radial-gradient(circle at left top, var(--card-hover-1) 0%, var(--card-hover-2) 50%, var(--card-hover-3) 100%);
  background-position: left;
  height: 100%;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  padding: 1rem;
  transition: 0.3s;
  transition: opacity 0.3s ease, visibility 0.3s ease, all 0.35s ease-in-out;
}
.skills-overlay:hover {
  visibility: visible;
  opacity: 1;
}
.skills-overlay h1 {
  color: var(--font-color-main);
}

.skills-techs-imgs:hover ~ .skills-overlay {
  visibility: visible;
  opacity: 1;
}

.projects-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  background-color: var(--background-main);
}

.embla {
  width: 50dvw;
  height: auto;
  overflow: hidden;
}

.embla__container {
  display: flex;
  height: 44dvh;
  flex-direction: row;
  margin-left: -1rem;
}

.embla__slide {
  padding-left: 1rem;
  flex: 0 0 85%;
  min-width: 0;
}

.embla__slide__number {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: var(--slider-container-border);
  border: solid 2px var(--slider-border);
  height: 100%;
  overflow: hidden;
}
.embla__slide__number img {
  -o-object-fit: cover;
     object-fit: cover;
}

#backend {
  background-image: var(--slider-background-backend);
  background-size: cover;
  background-position: center;
}

.embla__overlay__directs {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 2vh;
  z-index: 999;
  transition: var(--slider-transition-color);
}
.embla__overlay__directs:hover {
  -webkit-backdrop-filter: blur(10px) brightness(50%);
          backdrop-filter: blur(10px) brightness(50%);
}
.embla__overlay__directs:hover .embla__resume__project {
  opacity: 100%;
  visibility: visible;
}

.embla__overlay__title {
  position: absolute;
  top: 10px;
  left: 10px;
}

.embla__overlay__techs {
  position: absolute;
  background: transparent;
  padding: 10px;
  right: 0px;
  top: 0px;
  transition: var(--slider-transition-color);
  z-index: 999;
}
.embla__overlay__techs img {
  margin: 3px;
  width: 30px;
  border-radius: 0px;
}
.embla__overlay__techs img:hover {
  padding: 1px;
}

.embla__resume__project {
  padding: 5vh;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: var(--slider-transition-color);
  overflow: hidden;
}
.embla__resume__project p {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.embla__link__social__medias {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 4px;
  padding: 10px;
}
.embla__link__social__medias div {
  border-radius: var(--slider-container-border);
  background-color: var(--slider-background-btns);
  padding: 7px;
}
.embla__link__social__medias div a {
  display: flex;
  gap: 4px;
  min-width: 100%;
  min-height: 100%;
  transition: var(--slider-transition-color);
}
.embla__link__social__medias div:hover {
  background-color: var(--slider-background-hover);
}
.embla__link__social__medias div:hover a {
  color: var(--dark-font-color-hover);
}

.embla__controls {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 1vh;
}

.embla__dots {
  display: flex;
  justify-content: flex-end;
}

.embla__dot {
  background-color: var(--slider-background-btns);
  border: none;
  outline: none;
  width: 15px;
  height: 15px;
  border: solid 2px var(--slider-border);
  border-radius: var(--slider-border-radius);
  transition: var(--slider-transition-color);
  cursor: pointer;
}

.embla__dot--selected {
  border: solid 2px var(--slider-border-hover);
  background-color: var(--slider-background-hover);
}

.embla__buttons {
  display: flex;
}

.embla__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--slider-background-btns);
  padding: 5px;
  border: solid 2px var(--slider-border);
  outline: none;
  width: 25px;
  height: 25px;
  border-radius: var(--slider-border-radius);
  cursor: pointer;
  transition: var(--slider-transition-color);
}
.embla__button:hover {
  border-color: var(--fill-color-hover);
  background-color: var(--slider-background-hover);
}
.embla__button:hover path {
  fill: var(--fill-color-hover);
}
.embla__button path {
  fill: var(--fill-color);
}

@media (min-width: 0px) and (max-width: 756px) {
  .resume-section {
    display: flex;
    height: 100%;
    flex-direction: column;
    overflow: auto;
  }
  .resume-details {
    padding-top: 10dvh;
    height: 100%;
  }
  .resume-details p {
    font-size: 1em;
  }
  .background-resume {
    display: none;
  }
  .background-resume img {
    display: none;
  }
  .my-image {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 756px) {
  .skills-section {
    display: grid;
    flex-wrap: nowrap;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
  }
  .skills-techs-imgs {
    padding: 2.5dvh;
    width: 100%;
  }
}
@media (min-width: 756px) and (max-width: 1024px) {
  .resume-section {
    display: flex;
    height: 100%;
    flex-direction: column;
    overflow: auto;
  }
  .resume-details {
    padding-top: 6dvh;
    height: 100%;
  }
  .resume-details p {
    font-size: 1em;
  }
  .background-resume {
    display: none;
  }
  .my-image {
    display: flex;
    justify-content: center;
    height: 100%;
  }
  .my-image img {
    position: relative;
    width: 70%;
  }
}
@media (min-width: 756px) and (max-width: 1024px) {
  .skills-section {
    display: grid;
    flex-wrap: nowrap;
    grid-template-columns: repeat(4, 1fr);
    height: 100%;
  }
  .skills-techs-imgs {
    padding: 2.5dvh;
    width: 100%;
  }
}/*# sourceMappingURL=import.css.map */