@media (min-width: $mobile-max) and (max-width: $tablet-max) {
    .skills-section {
        display: grid;
        flex-wrap: nowrap;
        grid-template-columns: repeat(4, 1fr);
        height: 100%;
    }
    .skills-techs-imgs {
        padding: 2.5dvh;
        width: 100%;
    }
}