// If do you look at this, and u don't understand, maybe i'm dumbass. Sorry :O

.resume-section {
  position: relative;
  display: flex;
  height: 100dvh;
  background-color: var(--background-main);
  overflow: hidden;
}

.background-resume {
  position: absolute;
  left: 0;
  top: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  user-select: none;
  filter: var(--filter-rectangle);
  background-image: var(--path-rectangle);
  background-position: center top;
  background-size: 155%;
  background-repeat: no-repeat;
  z-index: 1;
}

.resume-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 6vw 0 8vw;
  z-index: 999;
  p {
    text-align: justify;
    font-size: 1.1rem;
    color: var(--font-color-main);
  }
}

.title {
  font-size: 2.8rem;
  font-family: "Staatliches", sans-serif;
  color: var(--font-color-main);
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
  span {
    color: var(--title-decals-color);
  }
}

.resume-techs {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding-top: 5px;
  gap: 10px;
  i {
    cursor: pointer;
  }
}

.resume-cv-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: var(--background-resume-cv);
  border: solid 1px var(--border-resume-cv);
  border-radius: var(--slider-container-border);
  color: var(--dark-font-color);
  padding: 5px 8px 5px 8px;
  transition: var(--universal-transition-color);

  .download-btn {
    font-size: 0.8em;
    color: var(--dark-font-color);
    transition: var(--universal-transition-color);
  }
  &:hover {
    background-color: var(--background-resume-cv-hover);
    border-color: var(--dark-font-color-hover);
    .download-btn {
      color: var(--dark-font-color-hover);
    }
    i {
      color: var(--dark-font-color-hover);
    }
  }
}
.my-image {
  position: relative;
  width: 100%;
  z-index: 999;
  img {
    position: absolute;
    filter: brightness(100%) grayscale(100%);
    right: 0px;
    bottom: 0px;
    width: 95%;
    user-select: none;
    pointer-events: none;
  }
}
