@media (min-width: $mobile-max) and (max-width: $tablet-max) {
    .resume-section {
        display: flex;
        height: 100%;
        flex-direction: column;
        overflow: auto;
    }
    .resume-details {
        padding-top: 6dvh;
        height: 100%;
        p {
            font-size: 1em;
        }
    }
    .background-resume {
        display: none;
    }
    .my-image {
        display: flex;
        justify-content: center;
        height: 100%;
        img {
            position: relative;
            width: 70%;
        }
    }
}