@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Staatliches&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  height: 150vh;
}

a {
  color: var(--font-color-main);
  text-decoration: none;
}
.theme-icon {
  color: var(--fill-color);
  transition: var(--universal-transition-color);
  &:hover {
    color: var(--fill-color-hover);
  }
}
