:root {
  --slider-transition-color: all 0.3s ease;
  --slider-border-radius: 50%;
  --slider-container-border: 7px;
}


$mobile-max: 756px;
$tablet-max: 1024px;

$themes: (
  dark: (
    background-main: #121212,
    background-main-skills: #101010,
    background-skills-card: #2b2b2b,
    dark-font-color: #fff,
    dark-font-color-hover: #f23219,
    title-decals-color: #d1321c,
    font-color-main: #ffffff,
    path-rectangle: url("../../assets/icons/rectangle.png"),
    filter-rectangle: brightness(50%),
    card-hover-1: #350301d7,
    card-hover-2: #20020191,
    card-hover-3: #2202014d,
    slider-border: #fff,
    slider-border-hover: #f23219,
    slider-background-btns: #101010,
    slider-background-hover: #1d1d1d,
    fill-color: #fff,
  ),
  light: (
    background-main: #fff,
    background-main-skills: #e7e7e7,
    background-skills-card: #dddddd,
    dark-font-color: #000000,
    dark-font-color-hover: #6519f2,
    title-decals-color: #5b1cd1,
    font-color-main: #000000,
    path-rectangle: url("../../assets/icons/rectanglePurple.png"),
    filter-rectangle: brightness(70%),
    card-hover-1: #7f4bdfd7,
    card-hover-2: #7742cc91,
    card-hover-3: #906de04d,
    slider-border: #080808,
    slider-border-hover: #6519f2,
    slider-background-btns: #f1f1f1,
    slider-background-hover: #ffffff,
    fill-color: #000,
  ),
);
@mixin theme($theme-name) {
  @each $key, $value in map-get($themes, $theme-name) {
    --#{$key}: #{$value};
  }
}
[data-theme="light"] {
  @include theme(light);
}

[data-theme="dark"] {
  @include theme(dark);
}
