.embla {
  width: 50dvw;
  height: auto;
  overflow: hidden;
}

.embla__container {
  display: flex;
  height: 45.4dvh;
  flex-direction: row;
  margin-left: calc(1rem * -1);
}

.embla__slide {
  padding-left: 1rem;
  flex: 0 0 80%;
  min-width: 0;
}

.embla__slide__number {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: var(--slider-container-border);
  border: solid 2px var(--slider-border);
  height: 100%;
  overflow: hidden;
  img {
    object-fit: cover;
  }
}

.embla__overlay__directs {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 2vh;
  z-index: 999;
  transition: var(--slider-transition-color);
  &:hover {
    backdrop-filter: blur(10px) brightness(50%);
  }
  div {
    display: flex;
    text-align: center;
    border-radius: var(--slider-container-border);
    background-color: var(--slider-background-btns);
    padding: 7px;
    transition: var(--slider-transition-color);
    a{
      display: flex;
      gap: 4px;
      min-width: 100%;
      min-height: 100%;
    }
    &:hover {
      background-color: var(--slider-background-hover);
    }
  }
}
.embla__overlay__title {
  position: absolute;
  top: 10px;
  left: 10px;
  color: var(--font-color-main);
  transition: var(--slider-transition-color);
  &:hover {
    color: var(--dark-font-color-hover);
  }
}


.embla__controls {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.embla__dots {
  display: flex;
  justify-content: flex-end;
}

.embla__dot {
  background-color: var(--slider-background-btns);
  border: none;
  outline: none;
  width: 15px;
  height: 15px;
  border: solid 2px var(--slider-border);
  border-radius: var(--slider-border-radius);
  transition: var(--slider-transition-color);
  cursor: pointer;
}

.embla__dot--selected {
  border: solid 2px var(--slider-border-hover);
  background-color: var(--slider-background-hover);
}

.embla__controls {
    padding-top: 1vh;
}

.embla__buttons {
  display: flex;
}

.embla__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--slider-background-btns);
  padding: 5px;
  border: solid 2px var(--slider-border);
  outline: none;
  width: 25px;
  height: 25px;
  border-radius: var(--slider-border-radius);
  cursor: pointer;
  transition: var(--slider-transition-color);
  path {
    fill: var(--fill-color);
  }
    &:hover {
      background-color: var(--slider-background-hover);
    }
}
