.embla {
  width: 50dvw;
  height: auto;
  overflow: hidden;
}

.embla__container {
  display: flex;
  height: 44dvh;
  flex-direction: row;
  margin-left: calc(1rem * -1);
}

.embla__slide {
  padding-left: 1rem;
  flex: 0 0 85%;
  min-width: 0;
}

.embla__slide__number {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: var(--slider-container-border);
  border: solid 2px var(--slider-border);
  height: 100%;
  overflow: hidden;
  img {
    user-select: none;
    pointer-events: none;
    object-fit: cover;
  }
}

#backend {
  background-image: var(--slider-background-backend);
  background-size: cover;
  background-position: center;
  user-select: none;
}

.embla__overlay__directs {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 2vh;
  z-index: 999;
  transition: var(--slider-transition-color);
  &:hover {
    backdrop-filter: blur(10px) brightness(50%);
    .embla__resume__project {
      opacity: 100%;
      visibility: visible;
    }
  }
}

.embla__overlay__title {
  position: absolute;
  top: 10px;
  left: 10px;
}

.embla__overlay__techs {
  position: absolute;
  background: transparent;
  padding: 10px;
  right: 0px;
  top: 0px;
  transition: var(--slider-transition-color);
  z-index: 999;
  img {
    margin: 3px;
    width: 30px;
    border-radius: 0px;
    &:hover {
      padding: 1px;
    }
  }
}

.embla__resume__project {
  padding: 5vh;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: var(--slider-transition-color);
  overflow: hidden;
  p {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    user-select: none;
  }
}

.embla__link__social__medias {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 4px;
  padding: 10px;
  a {
    border-radius: var(--slider-container-border);
    background-color: var(--slider-background-btns);
    padding: 7px 10px;
    gap: 4px;
    transition: var(--slider-transition-color);
    &:hover {
      background-color: var(--slider-background-hover);
      color: var(--dark-font-color-hover);
    }
    i {
      padding-right: 3px;
    }
  }
}

.embla__controls {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 1vh;
}

.embla__dots {
  display: flex;
  justify-content: flex-end;
}

.embla__dot {
  background-color: var(--slider-background-btns);
  border: none;
  outline: none;
  width: 15px;
  height: 15px;
  border: solid 2px var(--slider-border);
  border-radius: var(--slider-border-radius);
  transition: var(--slider-transition-color);
  cursor: pointer;
}

.embla__dot--selected {
  border: solid 2px var(--slider-border-hover);
  background-color: var(--slider-background-hover);
}

.embla__buttons {
  display: flex;
}

.embla__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--slider-background-btns);
  padding: 5px;
  border: solid 2px var(--slider-border);
  outline: none;
  width: 25px;
  height: 25px;
  border-radius: var(--slider-border-radius);
  cursor: pointer;
  transition: var(--slider-transition-color);
  &:hover {
    border-color: var(--fill-color-hover);
    background-color: var(--slider-background-hover);
    path {
      fill: var(--fill-color-hover);
    }
  }
  path {
    fill: var(--fill-color);
  }
}
